@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Roboto:wght@100;300&display=swap');

.scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
}

.wrapper-scroll-y {
    display: block;
}

body {
    margin-top: 50px;
}

.hide {
    visibility: hidden
}

h2 {
    font-family: 'Della Respira', serif;
    font-size: 30px;
}

h1, h5, h6 {
    font-family: 'Della Respira', serif;
    font-size: 20px;
    color: #332E24;
}

h1 {
    font-size: 60px;
}

p, pre {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #332E24;
    background-color: #F7F6F4;
}

.card-body {
    background-color: #F7F6F4;
}
div, p, body, a {
    background-color: #F7F6F4!important;
}
.card {
    margin-bottom: 4px;
}

.search-bar {
    justify-content: center;
    align-items: center;
}